@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  outline: none;
}

body {
  background-color: #05050B;
}

.wrap {
  width: min(1280px, 90%);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.center, .button, #know-more, #book-now {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button, #know-more, #book-now {
  width: 150px;
  height: 50px;
  background-color: #ff00ea;
}

section {
  width: 100%;
  min-height: 80vh;
  margin-top: 70px;
}

h2 {
  text-align: center;
  font-size: 5rem;
  color: #fff;
  font-style: italic;
  font-family: bebas neue;
  margin: 20px 0;
  letter-spacing: 2.8px;
}
h2 hr {
  width: 140px;
  background-color: transparent;
  margin: 0 auto;
  border-color: #ff00ea;
}
h2 span {
  color: #ff00ea;
  font-family: bebas neue;
}

p {
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2em;
  word-spacing: 10px;
  font-weight: 400;
}

header {
  width: 100%;
  min-height: 30px;
  transition: 0.5s;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(50, 0, 46, 0.3625);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.sticked {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.sticked nav {
  padding: 10px 0;
}

#logo {
  font-size: 2em;
  font-family: bebas neue;
  font-style: italic;
  letter-spacing: 3px;
  color: #fff;
}
#logo span {
  font-weight: 600;
  font-family: bebas neue;
  color: #ff00ea;
}

.menu {
  display: flex;
  gap: 2em;
  align-items: center;
}
.menu a {
  font-weight: 500;
  color: #fff;
  transition: 0.5s;
}
.menu a:hover {
  color: #ff00ea;
}

#book-now:hover {
  color: #fff;
}

.banner {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7294117647) 65%), url(../img/bannerigm.jpg);
  background-size: cover;
  position: relative;
  background-position: bottom;
  background-attachment: fixed;
}

.ban-con {
  width: 100%;
  transform: translate(20px, 0);
  transition: 0.2s;
  opacity: 0;
  -webkit-animation: onloadanim 0.5s linear forwards 1s;
          animation: onloadanim 0.5s linear forwards 1s;
  height: 89vh;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ban-con .sub-title {
  font-size: 5em;
  color: transparent;
  font-weight: 400;
  font-family: bebas neue;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: italic;
  -webkit-text-stroke: 1px #fff;
}
.ban-con .sub-title span {
  font-family: bebas neue;
  -webkit-text-stroke: 3px #ff00ea;
  font-size: 2em;
}
.ban-con .title {
  font-size: 5em;
  font-family: bebas neue;
  letter-spacing: 2px;
  color: #fff;
  font-style: italic;
}
.ban-con .title span {
  font-family: bebas neue;
  color: #ff00ea;
}

#know-more {
  color: #fff;
}

.intro {
  color: #fff;
  font-style: italic;
  word-spacing: 10px;
  line-height: 30px;
}

.poly {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #ff00ea;
  bottom: 0px;
  right: 0px;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

@-webkit-keyframes onloadanim {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes onloadanim {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
#menu-btn {
  width: 35px;
  display: none;
  height: 35px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: 0.5s;
}
#menu-btn span {
  margin: 10px 0;
}
#menu-btn::after, #menu-btn::before, #menu-btn span {
  transition: 0.3s;
  display: block;
  width: 100%;
  background-color: #fff;
  height: 3px;
}
#menu-btn::after, #menu-btn::before {
  content: "";
}

.is-active span {
  opacity: 0;
}
.is-active::after {
  transform: translate(1px, -12px) rotate(45deg);
}
.is-active::before {
  transform: translate(0px, 13px) rotate(-45deg);
}

.ab-con {
  width: 100%;
  display: grid;
  margin-top: 3em;
  justify-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
.ab-con p {
  width: 100%;
  text-align: center;
}
.ab-con img {
  width: 600px;
}

.serv-con {
  width: 100%;
  min-height: 50vh;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  justify-items: center;
}
.serv-con .card {
  width: min(400px, 100%);
  min-height: 130px;
  overflow: hidden;
  padding: 20px;
  display: grid;
  transition: 0.2s;
  align-items: center;
  justify-items: center;
  gap: 0.2em;
  border: 2px solid #ff00ea;
  background-color: #050005;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.serv-con .card:hover {
  transform: translate(0, -5px);
}
.serv-con .card p {
  text-align: center;
  word-spacing: 1px;
}

h3 {
  color: #fff;
  font-size: 1.6em;
  letter-spacing: 2px;
}
h3 hr {
  width: 80%;
  margin-top: 20px;
  border: none;
  background-color: #ff00ea;
  height: 1px;
  border-radius: 20px;
}

.testimonials {
  margin-top: 0;
}

.test-row {
  width: 100%;
  display: grid;
  gap: 2em;
  -moz-column-gap: 0;
       column-gap: 0;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
  justify-items: center;
}

.test-card {
  width: 90%;
  min-height: 200px;
  justify-items: center;
  border: 2px solid #ff00ea;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  gap: 1em;
  padding: 20px 10px;
  display: grid;
  background-color: #1a0017;
}
.test-card img {
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
}
.test-card .ratings {
  color: gold;
}
.test-card p {
  line-height: 1.8em;
  color: #fff;
  text-align: center;
}
.test-card .socials {
  color: #fff;
  font-size: 2em;
}
.test-card .socials i {
  transition: 0.5s;
}
.test-card .socials i:hover {
  color: #ff00ea;
}

.contact p {
  margin: 30px 0 50px 0;
  text-align: center;
}
.contact .row {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
}
.contact .row iframe {
  width: 100%;
  height: 100%;
}
.contact .row form {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}
.contact .row form input {
  background-color: #260023;
  border: 1px solid #40003b;
  font-size: 1.4em;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  border-radius: 10px;
  padding-left: 20px;
}
.contact .row form textarea {
  background-color: #260023;
  color: #fff;
  border: 1px solid #40003b;
  border-radius: 10px;
  font-size: 1em;
  width: 100%;
  padding: 10px;
}

#submit {
  color: #fff;
  font-weight: 500;
  transition: 0.4s;
  font-size: 1.3em;
}
#submit:hover {
  border-radius: 20px;
}

footer {
  width: 100%;
  margin-top: 5em;
  background-color: #000;
}
footer .foo-con p {
  text-align: center;
  padding: 1em 0;
}

@media (max-width: 963px) {
  .ban-con {
    transform: none;
    -webkit-animation: none;
            animation: none;
    opacity: 1;
  }
  .menu {
    position: fixed;
    display: block;
    top: 73px;
    display: flex;
    left: -100%;
    transition: 0.3s;
    flex-direction: column;
    width: 100%;
    min-height: 10em;
    background-color: #000;
    padding: 10px 0;
  }
  .meditation {
    justify-self: center;
  }
  #menu-btn {
    display: block;
  }
  .serv-con {
    grid-template-columns: 1fr 1fr;
  }
  .test-row {
    grid-template-columns: 1fr;
  }
  .test-row .test-card {
    width: 100%;
  }
  .contact .row {
    grid-template-columns: 1fr;
  }
  .contact .row iframe {
    height: 500px;
  }
}
@media (max-width: 1351px) {
  .ab-con {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
  .ab-con figure {
    display: flex;
    justify-content: center;
  }
  .ab-con figure img {
    width: min(600px, 100%);
  }
}
@media (max-width: 791px) {
  .ban-con {
    height: 77vh;
  }
  .ban-con .sub-title span {
    font-size: 1em;
  }
}
@media (max-width: 719px) {
  .serv-con {
    grid-template-columns: 1fr;
  }
  .ban-con {
    height: 77vh;
  }
  .ban-con .sub-title {
    font-size: 2em;
    -webkit-text-stroke: 1px #fff;
  }
  .ban-con .sub-title span {
    font-size: 2em;
    -webkit-text-stroke: 1.5px #ff00ea;
  }
  .ban-con .title {
    font-size: 3em;
  }
}
@media (max-width: 425px) {
  .ban-con .sub-title {
    line-height: normal;
  }
  .ban-con .title {
    font-size: 2em;
  }
  .test-h {
    font-size: 3em;
  }
}/*# sourceMappingURL=style.css.map */